<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>历史推送 - 哇嘎互娱</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta HTTP-EQUIV="pragma" CONTENT="no-cache">
    <meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache,must-revalidate">
    <meta HTTP-EQUIV="expires" CONTENT="0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    {% include 'public/static.html' %}

</head>
<body>
    {% include 'public/header.html' %}
    {% include 'public/left.html' %}

    <!-- MAIN -->
    <div class="main">
        <!-- MAIN CONTENT -->
        <div class="main-content">
            <div class="container-fluid">
                <div id="tipdlg"></div>
                <style type="text/css">
                    .ft12 {
                        font-size: 12px;
                    }
                    /*td{
                        white-space:nowrap;
                        word-break:keep-all;
                        overflow:hidden;
                        text-overflow:ellipsis;
                    }*/

                    .ft16 {
                        font-size: 16px;
                    }
                    .tdbreak {
                        width: 100%;
                        word-break: keep-all;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                </style>
                <div class="panel">
                    <div class="panel-heading mynav">
                        <h3 class="panel-title"><i class="fa fa-home" aria-hidden="true"></i>首页 > 派单历史</h3>
                    </div>
                    <div class="panel-body" style="position: relative;">
                        <form class="form-inline" action="/histroy/list" method="get"
                              style="padding-bottom: 20px;">
                            {% csrf_token %}
                            <div class="btn-group form-group">
                            </div>
                            <div class="form-group" style=" float: right;margin-right:5px; ">
                                <!-- <button type="button" class="btn btn-success" onClick="exportdata()">导出Excel数据</button> -->
                            </div>
                            <div class="form-group" style=" float: right;margin-right:5px; ">
                                <button type="submit" class="btn btn-success">查询</button>
                            </div>
                            <div class="form-group" style=" float: right;margin-right:5px; ">
                                <input type="text" class="form-control" placeholder="请输入主体" id="form-key" name="main_body_name" value="{{ main_body_name }}">
                            </div>
                            <div class="form-group" style=" float: right;margin-right:5px; ">
                                <input type="text" class="form-control" placeholder="请输入公众号" id="form-key" name="public_number" value="{{ public_number }}">
                            </div>
                            <div class="form-group" style=" float: right;margin-right:5px; ">
                                <input type="text" class="form-control" placeholder="请输入微信号" id="form-key" name="we_char_number" value="{{ we_char_number }}">
                            </div>
                        </form>
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                            <tr>
                                <th>主体</th>
                                <th>公众号</th>
                                <th>微信号</th>
                                <th>类型</th>
                                <th>平均阅读</th>
                                <th>派单价格</th>
                                <th>审核状态</th>
                                <th>期数</th>
                            </tr>
                            </thead>
                            <form id="form_data">
                                <tbody>
                                {% for main in page_of_mains %}
                                    <tr>
                                        <td rowspan="{{ main.length }}" style="color: red;">
                                            <a href="javascript:void(0)" onclick="view_subject({{ main.id }}, '{{ main.main_body_name }}')">{{ main.main_body_name }}</a>
                                        </td>
                                    </tr>
                                        {% for resource in main.resources %}
                                            <tr>
                                                <td id="public_number">{{ resource.public_number }}</td>
                                                <td id="we_char_number">{{ resource.we_char_number }}</td>
                                                <td>{{ resource.type }}</td>
                                                <td>{{ resource.average_readings }}</td>
                                                <td>{{ resource.cost }}</td>
                                                <td>
                                                    {% if resource.supervisor_review == 1 %}
                                                        通过
                                                    {% else %}
                                                        不通过
                                                    {% endif %}
                                                </td>
                                                {% if resource.count == 0 %}
                                                <td>未投</td>
                                                {% else %}
                                                <td><a href="javascript:void(0)" onclick="line_chart({{ resource.id }}, '{{ resource.public_number }}')">{{ resource.count }}期</a></td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                {% endfor %}
                                </tbody>
                            </form>
                        </table>
                        <!--<div>
                            <ul class="pagination pagination-sm" style="float:right;">
                                <li class="prev disabled">
                                    <span>上一页</span>
                                </li>
                                <li class="active"><span>1</span></li>
                                <li class="next disabled">
                                    <span>下一页</span>
                                </li>
                            </ul>
                            <span>共14条数据 共1页50条/页</span>
                        </div>-->
                        <ul class="pagination">
                           <li >
                                <!--按钮，点击左右翻页-->
                                {% if page_of_mains.has_previous %}
                                    <!--#有下一页-->
                                   <a href="?page={{page_of_mains.previous_page_number}}&main_body_name={{main_body_name}}&public_number={{public_number}}" aria-label="Previous">
                                       <span aria-hidden="true">上一页</span>
                                       <!--#点击跳转下一页-->
                                   </a>
                                {% else %}
                                   <!-- #没有下一页，没有a标签，点击按钮不会跳转 -->
                                   <span aria-hidden="true">上一页</span>
                                {% endif %}
                          </li>
                                <!-- #显示分页的页码 -->
                                {% for page_num in page_of_mains.paginator.page_range %}
                                     <!-- #对分页的每一页进行迭代 -->
                                     {% if page_num == page_of_mains.number %}
                                     <!-- #如果有某一个页面是指定的页面 -->
                                          <li class="active"><a href="?page={{page_num}}&main_body_name={{main_body_name}}&public_number={{public_number}}">{{page_num}} </a></li>
                                            <!-- #就标记为cative，对应前端分页页码的显示会有颜色加深的效果 -->
                                             {% else %}
                                          <li ><a href="?page={{page_num}}&main_body_name={{main_body_name}}&public_number={{public_number}}">{{page_num}} </a></li>
                                          <!-- #否则就显示分页页码 -->
                                     {% endif %}
                                {% endfor %}
                          <li>
                                <!-- #按钮，点击翻页 -->
                                {% if page_of_mains.has_next %}
                                      <!-- #如果后续有分页，按钮可点击 -->
                                      <a href="?page={{page_of_mains.next_page_number}}&main_body_name={{main_body_name}}&public_number={{public_number}}" aria-label="Previous">
                                          <span aria-hidden="true">下一页</span>
                                      </a>
                                {% else %}
                                      <!-- #没有分页，不可点击 -->
                                      <span aria-hidden="true">下一页</span>
                                {% endif %}
                         </li>
                         <span>共{{total}}条数据，共{{page_number}}页20条/页</span>
                    </ul>
                    </div>
                </div>
                <script>

                    function splitgzh(gzh) {
                        var gzgs = gzh.split(", ");
                        var rel = "";
                        for (var i = gzgs.length - 1; i >= 0; i--) {
                            if (i == 0) {
                                rel+= '<a href="javascript:void(0);" onclick=data_view("'+gzgs[i].trim()+'")>'+gzgs[i].trim()+'</a>';
                            } else {
                                rel+= '<a href="javascript:void(0);" onclick=data_view("'+gzgs[i].trim()+'")>'+gzgs[i].trim()+',</a>';
                            }
                        }
                        return rel;
                    }

                    function line_chart(rid, public_number) {
                        html = '';
                        $.ajax({
                            type: "POST",
                            url: "{% url 'histroy:histroy_detail' %}",
                            headers: {'X-CSRFtoken': $.cookie('csrftoken')},
                            data: {rid: rid},
                            dataType: "json",
                            success: function (data) {
                                if (!$.isEmptyObject(data)) {
                                    html = '<table class="table table-hover table-bordered" style="table-layout:fixed;">' +
                                        '<thead>' +
                                        '<tr>' +
                                        '<th width="7%" style="text-align:center;font-size:12px">发文时间</th>' +
                                        '<th width="4%" style="text-align:center;font-size:12px">自家公众号</th>' +
                                        '<th width="5%" style="text-align:center;font-size:12px">书名</th>' +
                                        '<th width="10%" style="text-align:center;font-size:12px">标题</th>' +
                                        '<th width="3%" style="text-align:center;font-size:12px">新增用户</th>' +
                                        '<th width="3%" style="text-align:center;font-size:12px">点击数</th>' +
                                        '<th width="3%" style="text-align:center;font-size:12px">新增关注</th>' +
                                        '<th width="3%" style="text-align:center;font-size:12px">关注成本</th>' +
                                        '<th width="3%" style="text-align:center;font-size:12px">总回款</th>' +
                                        '<th width="3%" style="text-align:center;font-size:12px">总回款率</th>' +
                                        '<th width="3%" style="text-align:center;font-size:12px">推广成本</th>' +
                                        '<th width="3%" style="text-align:center;font-size:12px">24h</th>' +
                                        '<th width="3%" style="text-align:center;font-size:12px">7天</th>' +
                                        '<th width="3%" style="text-align:center;font-size:12px">15天</th>' +
                                        '<th width="3%" style="text-align:center;font-size:12px">30天</th>' +
                                        '<th width="3%" style="text-align:center;font-size:12px">60天</th>' +
                                        '<th width="3%" style="text-align:center;font-size:12px">90天</th>' +
                                        '<th width="3%" style="text-align:center;font-size:12px">投放天数</th>' +
                                        '<th width="3%" style="text-align:center;font-size:12px">投放ID</th>' +
                                        '<th width="8%" style="text-align:center;font-size:12px">派单备注</th>' +
                                        '<th width="8%" style="text-align:center;font-size:12px">找号备注</th>' +
                                        '</tr>' +
                                        '</thead>' +
                                        '<form id="form_data">' +
                                        '</tbody>' +
                                        '<tbody id="examination">';
                                    $.each(data, function (index, val) {
                                        var writing_time = Math.ceil((new Date()).getTime()/1000) - (new Date(val.writing_time)).getTime()/1000
                                        if (writing_time < 0){
                                            var writing_time = 0
                                        } else {
                                            var writing_time = (writing_time/24/3600).toFixed(1)
                                        }
                                        if (val.user_follow_amount > 0) {
                                            var follow_cost = (val.cost/val.user_follow_amount).toFixed(2)
                                        } else {
                                            var follow_cost = val.cost
                                        }
                                        html += '<tr>' +
                                            '<td style="text-align:center;font-size:12px">' + val.create_time + '</td>' +
                                            // '<td width="6%" style="font-size:8px"><a href="javascript:void(0);" onclick=data_view("'+val.public_number+'")>' + val.public_number + '</a></td>' +
                                            // '<td width="6%" style="font-size:8px">'+splitgzh(val.public_number)+'</td>' +
                                            '<td style="text-align:center;font-size:12px"><div>' + val.self_public_number + '</div></td>' +
                                            '<td class="tdbreak" style="text-align:center;font-size:12px"><nobr>' + val.book_name + '</nobr></td>' +
                                            // '<td style="font-size:8px">' +
                                            '<td style="text-align:center;font-size:12px" class="tdbreak" title="'+val.title+'"><nobr>' + val.title + '</nobr></td>' +
                                            '<td style="text-align:center;font-size:12px">' + val.user_amount + '</td>' +
                                            '<td style="text-align:center;font-size:12px">' + val.clicknum + '</td>' +
                                            '<td style="text-align:center;font-size:12px">' + val.user_follow_amount + '</td>' +
                                            '<td style="text-align:center;font-size:12px">' + follow_cost + '</td>' +
                                            // '<td style="text-align:center;font-size:12px">' + val.user_follow_amount==0?val.user_follow_amount:(val.cost/val.user_follow_amount).toFixed(2) + '</td>' +
                                            '<td style="text-align:center;font-size:12px">' + val.money + '</td>' +
                                            '<td style="text-align:center;font-size:12px">' + (val.money/val.cost*100).toFixed(2) + '%</td>' +
                                            '<td style="text-align:center;font-size:12px"><div>' + val.cost + '</div></td>' +
                                            '<td style="text-align:center;font-size:12px">' + (val.one_day/val.cost*100).toFixed(2) + '%</td>' +
                                            '<td style="text-align:center;font-size:12px">' + (val.seven_day/val.cost*100).toFixed(2) + '%</td>' +
                                            '<td style="text-align:center;font-size:12px">' + (val.fifteen_day/val.cost*100).toFixed(2) + '%</td>' +
                                            '<td style="text-align:center;font-size:12px">' + (val.thirty_day/val.cost*100).toFixed(2) + '%</td>' +
                                            '<td style="text-align:center;font-size:12px">' + (val.sixty_day/val.cost*100).toFixed(2) + '%</td>' +
                                            '<td style="text-align:center;font-size:12px">' + (val.ninty_day/val.cost*100).toFixed(2) + '%</td>' +
                                            '<td style="text-align:center;font-size:12px;color:red;"><b>' + writing_time + '天</b></td>' +
                                            '<td style="text-align:center;font-size:12px">' + val.book_ID + '</td>' +
                                            '<td width="10%" style="text-align:center;font-size:12px" class="tdbreak" title="'+val.p_remark+'">' + val.p_remark + '</td>' +
                                            '<td width="10%" style="text-align:center;font-size:12px" class="tdbreak" title="'+val.r_remark+'">' + val.r_remark + '</td>' +
                                            '</tr>'
                                    })
                                    html += '</tbody>' +
                                        '</table>'
                                    popup(html, public_number, data[0].contact_information,data[0].total_fans, data[0].public_number)
                                } else {
                                }
                            }
                        });
                    }



                    function popup(html, public_number, contact_information, total_fans,public_num='') {
                        Ewin.alert({
                                message: html,
                                title: '外派公众号：'+splitgzh(public_num)+'，联系方式：'+contact_information+'，总粉：'+total_fans,
                                btnok: '关闭',
                            });
                        $('.modal-sm').attr('style', 'width:95%;');
                    }
                    function view_subject(mid, main_name) {
                        html = '';
                        $.ajax({
                            type: "POST",
                            url: "/resource/view_subject",
                            headers: {'X-CSRFtoken': $.cookie('csrftoken')},
                            data: {mid: mid},
                            dataType: "json",
                            success: function (data) {
                                if (data.length != 0) {
                                    html =  '<table class="table table-hover table-bordered" style="table-layout:fixed;">' +
                                            '<thead>' +
                                            '<tr>' +
                                            '<th width="6%" style="text-align:center;font-size:12px">公众号</th>' +
                                            '<th width="6%" style="text-align:center;font-size:12px">微信号</th>' +
                                            '<th width="6%" style="text-align:center;font-size:12px">联系方式</th>' +
                                            '<th width="5%" style="text-align:center;font-size:12px">类型</th>' +
                                            '<th width="4%" style="text-align:center;font-size:12px">总粉/万</th>' +
                                            '<th width="4%" style="text-align:center;font-size:12px">平均阅读数</th>' +
                                            '<th width="4%" style="text-align:center;font-size:12px">派单价格</th>' +
                                            '<th width="3%" style="text-align:center;font-size:12px">UV</th>' +
                                            '<th width="4%" style="text-align:center;font-size:12px">万粉单价</th>' +
                                            '<th width="4%" style="text-align:center;font-size:12px">阅读单价</th>' +
                                            '<th width="4%" style="text-align:center;font-size:12px">审核状态</th>' +
                                            '<th width="4%" style="text-align:center;font-size:12px">领取状态</th>' +
                                            '<th width="13%" style="text-align:center;font-size:12px">备注</th>' +
                                            '</tr>' +
                                            '</thead>' +
                                            '<form id="form_data">' +
                                            '</tbody>' +
                                            '<tbody id="examination">';
                                    $.each(data, function (index, val) {
                                        switch(val.fields.supervisor_review)
                                        {
                                            case 1:
                                                var supervisor = '通过'
                                                break;
                                            case 2:
                                                var supervisor = '不通过'
                                                break;
                                            default:
                                                var supervisor = '待审'
                                        }
                                        if (val.fields.status == 0) {
                                            var status = '未领'
                                        } else {
                                            var status = '已领'
                                        }
                                        html += '<tr>' +
                                        '<td style="text-align:center;font-size:12px"><a href="javascript:void(0);" onclick=data_view("'+val.fields.public_number+'")>' + val.fields.public_number + '</a></td>' +
                                        '<td style="text-align:center;font-size:12px"><div><a href="javascript:void(0);" onclick=data_view("'+val.fields.we_char_number+'")>' + val.fields.we_char_number + '</a></div></td>' +
                                        '<td style="text-align:center;font-size:12px">' + val.fields.contact_information + '</td>' +
                                        '<td style="text-align:center;font-size:12px"><div>' + val.fields.type + '</div></td>' +
                                        '<td style="text-align:center;font-size:12px">' + val.fields.total_fans + '</td>' +
                                        '<td style="text-align:center;font-size:12px">' + val.fields.average_readings + '</td>' +
                                        '<td style="text-align:center;font-size:12px">' + val.fields.cost + '</td>' +
                                        '<td style="text-align:center;font-size:12px">' + (val.fields.average_readings/val.fields.total_fans/100).toFixed(2) + '</td>' +
                                        '<td style="text-align:center;font-size:12px">' + (val.fields.cost/val.fields.total_fans).toFixed(2) + '</td>' +
                                        '<td style="text-align:center;font-size:12px">' + (val.fields.cost/val.fields.average_readings).toFixed(2) + '</td>' +
                                        '<td style="text-align:center;font-size:12px">' + supervisor + '</td>' +
                                        '<td style="text-align:center;font-size:12px">' + status + '</td>' +
                                        '<td style="text-align:center;font-size:12px" class="tdbreak" title="'+val.fields.remark+'">' + val.fields.remark + '</td>' +
                                        '</tr>'
                                    })
                                    html += '</tbody>' +
                                        '</table>'
                                        // '<label for="inputPassword3" class="col-sm-11 control-label"></label>'+
                                        // '<button type="button" class="btn btn-success ok" data-dismiss="modal">领取</button>'
                                    popup_main(html, main_name)
                                } else {
                                }
                            }
                        });
                    }

                    function popup_main(html, main_name) {
                        Ewin.alert({
                                message: html,
                                title: '主体：'+main_name,
                                btnok: '关闭',
                            });
                        $('.modal-sm').attr('style', 'width:95%;');
                    }

                    function data_view(data) {
                        var en_data = escape(data, 'utf-8')
                        var watermelon     = 'http://data.xiguaji.com/Home#/Search/SearchAct/?type=1&key='+ data +'&miniAppId=0'
                        var micro_treasure = 'https://data.wxb.com/searchResult?kw='+ data +'&page=1'
                        var sogou_weChat   = 'http://weixin.sogou.com/weixin?type=1&query='+ data +'&ie=utf8&s_from=input&_sug_=n&_sug_type_='
                        var new_list       = 'https://www.newrank.cn/public/info/search.html?value='+ en_data +'&isBind=false'
                        var help           = 'http://top.aiweibang.com/user/search?kw='+ data
                        html =  '<table class="table">' +
                                '<thead>' +
                                '<tr>' +
                                '<th style="width: 20%; text-align:center;"><a class="btn btn-success ok" href="'+watermelon+'" target="_blank">西瓜数据</a></th>' +
                                '<th style="width: 20%; text-align:center;"><a class="btn btn-success ok" href="'+micro_treasure+'" target="_blank">微小宝</a></th>' +
                                '<th style="width: 20%; text-align:center;"><a class="btn btn-success ok" href="'+sogou_weChat+'" target="_blank">搜狗微信</a></th>' +
                                '<th style="width: 20%; text-align:center;"><a class="btn btn-success ok" href="'+new_list+'" target="_blank">新榜</a></th>' +
                                '<th style="width: 20%; text-align:center;"><a class="btn btn-success ok" href="'+help+'" target="_blank">爱微帮</a></th>' +
                                '</tr>' +
                                '</thead>' +
                                '</table>';
                        popups(html)
                    }

                    function popups(html) {
                        Ewin.alert({
                                message: html,
                                title: '数据分析'
                            }
                        );
                        $('.modal-sm').attr('style', 'width:95%;');
                    }

                    $('td#public_number').each(function () {
                        if ($('input[name=public_number]').val() != '') {
                            var len = $('input[name=public_number]').val().length
                            for (var i = 0; i <= $(this).text().length-len; i++) {
                                if ($(this).text().substring(i,i+len) == $('input[name=public_number]').val()) {
                                    $(this).css('color', 'red')
                                }
                            }
                        }
                    })
                    $('td#we_char_number').each(function () {
                        if ($('input[name=we_char_number]').val() != '') {
                            var len = $('input[name=we_char_number]').val().length
                            for (var i = 0; i <= $(this).text().length-len; i++) {
                                if ($(this).text().substring(i,i+len) == $('input[name=we_char_number]').val()) {
                                    $(this).css('color', 'red')
                                }
                            }
                        }
                    })
                </script>
            </div>
        </div>
        <!-- END MAIN CONTENT -->
    </div>
    <!-- END MAIN -->
    <div class="clearfix"></div>
    <footer></footer>
</div> <!-- END WRAPPER -->
<link rel="stylesheet" href="{% static 'static/public/css/toastr.min.css' %}">
<style>
    .toast-top-center {
        top: 52px;
    }
</style>
<script src="{% static 'static/public/js/toastr.min.js' %}"></script>
<script>
    toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": false,
        "progressBar": false,
        "positionClass": "toast-top-center",//toast-top-center toast-bottom-center
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "3000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }
</script>
<script></script>
</body>
</html>
