<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>资源转移 - 哇嘎互娱</title>
    {% include 'public/static.html' %}
    <script>
        var api_url = '/api.php';
        var cur_pos = '资源添加';
        var _cdnurl = "//cdn.xxxx.com/";
        var __cfg = false;
        var imgurl = 'static/';

        function adm_ajax_ckstat(stat) {
            if (stat == "ok") return true;

            if (stat == "nologin") {
                window.location.reload();
            }
            return false;
        }

        var _Notice = 0;
        var _unReadTop = [];

    </script>

</head>
<body>
{% include 'public/header.html' %}
{% include 'public/left.html' %}


<!-- MAIN -->
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <div id="tipdlg"></div>
            <style type="text/css">
                strong {
                    margin-bottom: 5px;
                    display: inline-block;
                }

                #template_edit .box {
                    background: #fff;
                    border: 1px solid #ccc;
                    margin: 15px;
                    padding: 15px;
                    word-break: break-all;
                }

                #template_edit .box .msg-title {
                    font-size: 18px;
                    color: #000;
                    font-weight: 400;
                    margin-bottom: 0;
                }

                #template_edit .box .fa {
                    font-size: 16px;
                }

            </style>
            <div class="row">
                <div class="col-md-12">
                    <!-- TABLE HOVER -->
                    <div class="panel">
                        <div class="panel-heading panel-header-bottom mynav">
                            <h3 class="panel-title">
                                <i class="fa fa-home" aria-hidden="true"></i>首页 > 资源转移
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div role="tabpanel" class="tab-pane active" tyle="padding:10px 0">
                                <form id="editform" class="form-horizontal">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label"><span
                                                style="color: red;">*</span>要删除的主体：</label>
                                        <div class="col-sm-4">
                                            <input type="text" list="companys" class="form-control" placeholder="" id="delete_main_body_name" name="delete_main_body_name" value="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label"><span
                                                style="color: red;">*</span>要传输的主体：</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="transmission_main_body_name"
                                                   name="transmission_main_body_name" placeholder="" value="">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-group" id="inputButton">
                                        <label for="inputPassword3" class="col-sm-2 control-label"></label>
                                        <div class="col-sm-4">
                                            <button type="button" id="up-submit" class="btn btn-success">提交</button>
                                            <span class="green tipmsg">&nbsp;</span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- END TABLE HOVER -->
                </div>
            </div>
            <script>

                function _postTemplateMsg(){
                    if($("input#delete_main_body_name").val().length==0){
                        $(".tipmsg").html("被删除的主体不能为空");
                        return false;
                    }
                    if($("input#transmission_main_body_name").val().length==0){
                        $(".tipmsg").html("要转移的主体不能为空");
                        return false;
                    }
                    // var delete_main_body_name       = $("input#delete_main_body_name").val()
                    // var transmission_main_body_name = $("input#transmission_main_body_name").val()
                    var d=$('#editform').serialize();
                    $(".tipmsg").html("");
                    /*$.ajax({
                        type: "POST",
                        url: "/resource/save_transfer",
                        data: {
                                'transmission_main_body_name':transmission_main_body_name,
                                'delete_main_body_name':delete_main_body_name
                              },
                        dataType: "json",
                        success: function (data) {
                            console.log(data)
                        }
                    });*/
                    sendData("/resource/save_transfer",d,function(data){
                             console.log(data)
                             if (data.code == 200) {
                                 toastr.success(data.errorMsg);
                                 setTimeout(function(){window.location.href="/resource/list";},1500);
                             } else if (data.code == 500) {
                                 toastr.error(data.errorMsg);
                                 api.submitStatus(false,"#up-submit",'保存');
                             }


                      });
                  }
                $("#up-submit").bind('click',function(event){
                    event.preventDefault();
                    _postTemplateMsg();
                });

            </script>
        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>
<!-- END MAIN -->
<div class="clearfix"></div>
<footer></footer>
</div> <!-- END WRAPPER -->
<style>
    .toast-top-center {
        top: 52px;
    }
</style>
<script>
    toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": false,
        "progressBar": false,
        "positionClass": "toast-top-center",//toast-top-center toast-bottom-center
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "3000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }
</script>
<script></script>
</body>
</html>
